.playerCardBox {
    color: white;
    display: flex;
    padding: 4px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: black;
}
.playerNameBox {
    text-align: left;
    flex: 1 0 auto;
    padding: 4px;
    font-size: 40px;
}
.playerName {
    font-size: 30px;
}
.teamName {
    font-size: 16px;
}
.teamName:hover {
    color: rgb(148 163 184);
}
.playerInfoContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 4px;
    font-size: 24px;
}
.playerInfoBox {
    text-align: center;
    font-size: 16px;
    border-right: 1px solid;
    flex: 0 1 auto;
    padding: 0 5px;
}
.playerInfoBox:last-of-type {
    border-right: none;
}
.playerInfoContainer:last-child {
    padding: 0 5px;
    text-align: center;
    font-size: 16px;
    flex: 0 1 auto;
}
.playerNumberBox {
    text-align: center;
    font-size: 26px;
    flex: 0 1 auto;
    padding: 0 5px;
}
.playerSummaryTable {
    table-layout: fixed;
    font-size: 12px;
    width: 100%;
}
.playerSummaryTableHeader{
    border-collapse: collapse;
}
.playerSummaryTableHeaderBox {
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-color: black;
    padding: 4px;
}
.playerSummaryTableRow {
}
.playerSummaryTableBox {
    font-size: 10px;
    text-align: center;
}